<ion-header>
  <ion-buttons style="left: 0;" slot="start" class="header-back-button" mode="md">
    <ion-back-button style="color: white;" icon="chevron-back"></ion-back-button>
  </ion-buttons>

  <ion-toolbar style="position: fixed;">
    
    <app-explore-container headerColor="white"></app-explore-container>
    
  </ion-toolbar>

</ion-header>

<ion-content (click)="openFun()">

  <img style="width: 120px; position: relative; top: 80px; left: 24px;" src="../../assets/icon/fun-folder.png">

  <img style="position: relative; top: 100px;" src="../../assets/icon/fun-bg2.png">
  <img style="width: 110px; position: relative; top: -70px; left: 18px; z-index: 1;" src="../../assets/icon/fun-squirrel.png">
  <img style="width: 135px; position: relative; top: -51px; left: -86px;" src="../../assets/icon/fun-bg3.png">

</ion-content>
