ion-content{
    --background: linear-gradient(#1a59a9, #303394);
}

.div{
    position: relative;
    transform: translateY(-50%);
    top: 40%;
    padding: 25px;
    color: white;
    font-size: 18px;
}

.div div{
    margin-bottom: 20px;
}

.div ion-button{

}