// ion-button{
//     color: black;
//     text-transform: capitalize;
//     font-size: 18px;
//     width: 100%;
//     position: relative;
//     left: -30px;
// }

.div{
    height: 35px;
    padding: 5px 0 0 10px;
    text-transform: capitalize;
    position: relative;
    overflow: hidden;
}