.profile-name{
    text-align: center;
    // margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: .5px;
    margin-bottom: 25px;
    position: relative;
    top: 10px;

    // img{
    //     width: 20px;
    //     position: relative;
    //     top: 4px;
    //     left: 10px;
    // }
}

.profile-name #badge{
    width: 40px;
    position: absolute;
    transform: translateX(-50%);
    left: 20%;
    top: -5px;
}

.profile-details{
    margin-right: 62px;
    color: gray;
    font-size: 10px;
    margin-bottom: 3px;
    position: absolute;

    img{
        width: 12px;
        position: relative;
        left: -6px;
        top: 2px;
    }
}

.levels{

    // margin-bottom: 5px;

    #img{
        width: 35px;
    }

    #name{
        position: absolute;
        top: 5.5px;
        left: 58px;
        font-size: 14px;
        // letter-spacing: .5px;
    }
    
    #pc-number{
        position: absolute;
        top: 15px;
        right: 42px;
        font-size: 12px;
    }

    #pc{
        color: lightgray;
        position: absolute;
        right: 30px;
        top: 15px;
        font-size: 12px;
    }

    #p-bar{
        position: absolute;
        bottom: 12px;
        width: calc(100% - 84px);
        height: 3px;
        left: 58px;
    }
}

.profile{

    img{
        width: 15px;
        margin-right: 12px;
    }

    ion-label{
        font-size: 14px;
        color: gray;
    }
}