.text-field-icons{
    width: 15px;
    margin: 0px 22px 0 42px;
}

.error-message{
    margin-left: -150px;
    margin-top: -7px;
    position: relative;
    z-index: 1;
}

.error-message span{
    font-size: 0.7em;
    color: #d01d1d;
}