<ion-header style="position: relative; height: 80px; z-index: 0;">
  <!-- Header -->

  <ion-buttons slot="start" class="header-back-button" mode="md">
    <ion-back-button icon="chevron-back"></ion-back-button>
  </ion-buttons>
  <span style="font-size: 16px; position: absolute; bottom: 10px; left: 25px; font-weight: bold">Change Password</span>

  <app-explore-container headerColor="black"></app-explore-container>

  <div style="position: absolute; bottom: 2px; border: 0.5px solid lightgray; width: calc(100% - 50px); margin-left: 25px;"></div>
</ion-header>

<ion-content>

  <div [formGroup]="registerForm" style="margin-top: 25px; text-align: center;">

    <!-- <ion-item lines="none">
      <ion-input placeholder="Old Password" formControlName="oldPassword" type="password" style="border-radius: 45px; box-shadow: 0px 0px 10px 0px lightgrey; height: 45px; margin-top: 3px; margin-left: 10px; margin-right: 10px; margin-bottom: 10px; font-size: 15px; --padding-start: 40px;">
      </ion-input>
    </ion-item> -->

    <ion-item lines="none">
      <ion-input placeholder="Enter New Password" formControlName="newPassword" type="password" [type]="showPassword ? 'text' : 'password'" style="border-radius: 45px; box-shadow: 0px 0px 10px 0px lightgrey; height: 45px; margin-top: 3px; margin-left: 10px; margin-right: 10px; margin-bottom: 10px; font-size: 15px; --padding-start: 40px;">
      </ion-input>
    </ion-item>
     <p *ngIf="(registerForm.get('newPassword').hasError('pattern') ||registerForm.get('newPassword').hasError('required') ) && (registerForm.get('newPassword').touched || submittedForm)" style="left: 174px; top: -6px; text-align: left; width: calc(100% - 10px); line-height: 11px; margin-top: 1px;" class="ion-no-margin ion-no-padding error-message">
      <!-- Error Message -->
      <span >Password should be minimum 8 characters including an uppercase, a numeric and a special character</span>
    </p>

    <ion-item lines="none">
      <ion-input placeholder="Re-enter New Password" formControlName="confirmPassword" type="password" [type]="showPassword ? 'text' : 'password'" style="border-radius: 45px; box-shadow: 0px 0px 10px 0px lightgrey; height: 45px; margin-top: 3px; margin-left: 10px; margin-right: 10px; margin-bottom: 10px; font-size: 15px; --padding-start: 40px;">
      </ion-input>
    </ion-item>
    <p *ngIf="(registerForm.value.newPassword!==registerForm.value.confirmPassword ||registerForm.get('confirmPassword').hasError('required') ) && registerForm.get('confirmPassword').touched" class="ion-no-margin ion-no-padding error-message">
      <!-- Error Message -->
      <span>Passwords donot match</span>
    </p>

    <p *ngIf="submittedForm" style="position: relative; margin-top: 20px; left: -67px;" class="ion-no-margin ion-no-padding error-message">
      <!-- Error Message From Ajax-->
      <span style="position: absolute; top: -8px;"> {{ errorMessage }} </span>
    </p>

    <div style="display: flex; justify-content: center;">
      <ion-button (click)="ToshowPassword()" style="width: 190px; height: 45px; font-size: 14px; margin-top: 30px; --background: linear-gradient(#1662b0, #2f3394);" shape="round">Show Password</ion-button>
      <ion-button (click)="register()" style="width: 190px; height: 45px; font-size: 14px; margin-top: 30px; --background: linear-gradient(#1662b0, #2f3394);" shape="round">Change Password</ion-button>
    </div>


  </div>

</ion-content>
