<ion-header *ngIf="data" style="position: relative; z-index: 0;">
  <!-- Header -->

  <ion-buttons slot="start" class="header-back-button" mode="md">
    <ion-back-button icon="chevron-back"></ion-back-button>
  </ion-buttons>
  <span style="font-size: 16px; position: absolute; top: 55px; left: 25px; font-weight: bold">Worksheet</span>

  <app-explore-container headerColor="black"></app-explore-container>

  <div style="position: absolute; top: 80px; border: 0.5px solid lightgray; width: calc(100% - 50px); margin-left: 25px;"></div>

  <div class="header"> 
    <span id="mark"> {{marks}} / {{data.length}} </span>
  </div>

  <div class="header-title"> Fill in the blanks </div>

  <ion-icon class="header-more" (click)="common.presentAlert('Click the right answer from the options and click SUBMIT to know the score.')" name="information-circle" style="position: absolute; right: 10px; top: 8px;font-size: 40px; color: #3e368d;"></ion-icon>

</ion-header>

<ion-content *ngIf="data">

  <div style="margin-bottom: 100px;">

    <div *ngFor="let d of data; let i = index" style="padding-left: 15px;" [style]="data[0].block===1?'opacity:.5':''">
      <div style="font-size: 15px;"> <img style="width: 14px; margin-right: 5px; position: relative; top: 2.5px" src="../../assets/icon/grammar-targ.png"> <p style="margin: -18px 0 0 25px;"> {{d.question}} </p> </div>
      <div style="display: flex; margin-top: 15px; margin-bottom: 20px; padding-left: 20px;">
        <div *ngFor="let o of d.options; let j = index" (click)="wordSelected(i, j, o)" [id]="'options'+i+j" class="options" [style]="'background-color:' + common.colors[j%4]"> 
          <span> {{o}} </span> 
        </div>
      </div>
    </div>

  </div>

  <div style="width: calc(100%); text-align: center; position: fixed; bottom: 0px; background: white;">
    <img style="width: 180px; position: absolute; transform: translateX(-50%); left: 50%; top: -151px;" [src]="common.gifPath">
    <div style="height: 4px;"></div>
    <!-- <ion-button [disabled]="index <= 0" (click)="nextPrev(-1)" class="footer-btn">Prev</ion-button> -->
    <ion-button [disabled]="data[0].block === 1" (click)="checkAnswers()" style="width: 322px;">Submit</ion-button>
    <!-- <ion-button [disabled]="((data.length)-1 == index) && data.length <= 1" (click)="nextPrev(1)" class="footer-btn">Next</ion-button> -->
    <ion-button [disabled]="data[0].block !== 1" (click)="resetAlert()" color="danger" style="width: 322px;">Reset</ion-button>
  </div>

</ion-content>
