ion-content{
    // --background: url('../../assets/icon/game1-bg.png') 0 0/100% 100% no-repeat;

    &::part(background) {
        background: url('../../assets/icon/game1-bg.png') no-repeat center center / cover;
      }
}   

ion-toolbar{
    --background: transparent;
    --ion-color-base: transparent !important;
}

.tank-fish{
    width: 25px;
    transform: rotate(-18deg);
    position: absolute;
    left: 12px;
    top: 0px;
}

.tank2-fish{
    width: 16px;
    position: relative;
}

.table-fish{
    width: 28px;
    position: relative;
}