.outer-div{
    float: left;
    width: 40%;
    margin-left: 15px;
    margin-bottom: -82px;
}

.box{
    width: 35px;
    height: 35px;
    // text-align: center;
    background-size: cover;
    position: relative;
}

.p1{
    position: relative;
    top: 6px;
    color: white;
    font-size: 18px;
}

.p2{
    position: relative;
    top: -54px;
    left: 40px;
    font-size: 15px;
    text-transform: lowercase;
}

.p3{
    position: relative;
    top: -71px;
    left: 38px;
    font-weight: bold;
}

.border-line{
    border-bottom: 1px solid lightgray;
    width: calc(100% + 15px);
    position: relative;
    top: -79px;
}

.button-div{
    --background: #0aa021;
    height: 28px;
    width: 90px;
    position: fixed;
    bottom: 5px;
    border-radius: 20px;
    right: 5px;
}

.button-div p{
    color: white;
    font-size: 14px;
    position: absolute;
    top: -8.5px;
    left: 30px;
    color: white
}

.button-div img{
    width: 15px;
    position: absolute;
    top: 7px;
    right: 28px;
}